<!-- BEGIN SIDEBAR -->

<div class="page-sidebar nav-collapse collapse">

    <!-- BEGIN SIDEBAR MENU -->

    <ul class="page-sidebar-menu">

        <li>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

            <div class="sidebar-toggler hidden-phone"></div>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        </li>

        <li>

            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

            <form class="sidebar-search">

                <!--<div class="input-box">-->

                    <!--<a href="javascript:;" class="remove"></a>-->

                    <!--<input type="text" placeholder="Search..." />-->

                    <!--<input type="button" class="submit" value=" " />-->

                <!--</div>-->

            </form>

            <!-- END RESPONSIVE QUICK SEARCH FORM -->

        </li>

        <li class="
            <if condition="$controller eq 'Index' ">active</if>
        start ">

        <a href="{:U('Index/index')}">

            <i class="icon-home"></i>

            <span class="title">首页</span>

        </a>

        </li>
        <li class="
             <if condition="$controller eq 'Member' or $controller eq 'Card' ">active</if>
        ">
        <a href="javascript:;">
            <i class="icon-th"></i>
            <span class="title">会员管理</span>
            <span class="selected"></span>
            <!--<span class="arrow open"></span>-->
                    <span class="arrow
                     <if condition="$controller eq 'Member'  or $controller eq 'Card' ">open</if>
            "></span>

        </a>

        <ul class="sub-menu">

            <li
            <if condition="$uri eq 'Member/index' ">class="active"</if>
            >

            <a href="{:U('Member/index')}">

                会员列表</a>

            </li>
            <li
            <if condition="$uri eq 'Card/index' ">class="active"</if>
            >

            <a href="{:U('Card/index')}">

                会员卡列表</a>

            </li>
        </ul>

        </li>
        <li class="">
            <a href="javascript:;">
                <i class="icon-sitemap"></i>
                <span class="title">微信卡券管理</span>
                <span class="selected"></span>
                <span class="arrow"></span>

            </a>

            <ul class="sub-menu">
                <li >
                    <a href="layout_horizontal_sidebar_menu.html">
                        微信卡券列表</a>
                </li>
            </ul>

        </li>
        <li class="
        <if condition="$controller eq 'Notice' ">active</if>
        ">
            <a href="javascript:;">
                <i class="icon-sitemap"></i>
                <span class="title">公告管理</span>
                <span class="selected"></span>
                <span class="arrow <if condition="$controller eq 'Notice' ">open</if>"></span>

            </a>

            <ul class="sub-menu">
                <li
                <if condition="$uri eq 'Notice/index' ">class="active"</if>
                >
                    <a href="{:U('Notice/index')}">
                        公告列表</a>
                </li>
            </ul>

        </li>
        <li class="
        <if condition="$controller eq 'Site' ">active</if>
        ">
            <a href="javascript:;">
                <i class="icon-sitemap"></i>
                <span class="title">站点管理</span>
                <span class="selected"></span>
                <span class="arrow <if condition="$controller eq 'Site' ">open</if>"></span>
            </a>
            <ul class="sub-menu">
                <li
                <if condition="$uri eq 'Site/index' ">class="active"</if>
                >
                    <a href="{:U('Site/index')}">
                        站点信息</a>
                </li>
            </ul>
        </li>
        <li class="
            <if condition="$controller eq 'User' ">active</if>
        last">
        <a href="javascript:;">
            <i class="icon-user"></i>
            <span class="title">用户管理</span>
                    <span class="arrow
                    <if condition="$controller eq 'User' ">open</if>
            "></span>
        </a>
        <ul class="sub-menu">
            <li
            <if condition="$uri eq 'User/index' ">class="active"</if>
            >
            <a href="{:U('User/index')}">
                用户列表</a>
            </li>
            <li
            <if condition="$uri eq '' ">class="active"</if>
            >
            <a href="login.html">
                用户组管理</a>
            </li>
            <li >
                <a href="login.html">
                    用户组权限管理</a>
            </li>

        </ul>

        </li>
    </ul>

    <!-- END SIDEBAR MENU -->

</div>

<!-- END SIDEBAR -->