<extend name="Public:Base" />

<block name="Css">
    <link href="__PUBLIC__/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="__PUBLIC__/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

    <link href="__PUBLIC__/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <link href="__PUBLIC__/media/css/style-metro.css" rel="stylesheet" type="text/css"/>

    <link href="__PUBLIC__/media/css/style.css" rel="stylesheet" type="text/css"/>

    <link href="__PUBLIC__/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

    <link href="__PUBLIC__/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

    <link href="__PUBLIC__/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
</block>

<block name="Content"></block>

<block name="Js">
<script src="__PUBLIC__/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

<script src="__PUBLIC__/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/media/js/bootstrap.min.js" type="text/javascript"></script>

<!--[if lt IE 9]>

<script src="__PUBLIC__/media/js/excanvas.min.js"></script>

<script src="__PUBLIC__/media/js/respond.min.js"></script>

<![endif]-->

<script src="__PUBLIC__/media/js/jquery.slimscroll.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/media/js/jquery.blockui.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/media/js/jquery.cookie.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/media/js/jquery.uniform.min.js" type="text/javascript" ></script>

<!-- END CORE PLUGINS -->

<script src="__PUBLIC__/media/js/app.js"></script>

<script>

    jQuery(document).ready(function() {

        App.init();

    });

</script>

<!-- END JAVASCRIPTS -->

<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script></body>

<!-- END BODY -->
</block>